<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="im430.MyBatisXmas.dao.MappedSqlSessionChildDAOImpl">
 
 	<insert id="addChild" parameterType="Child"
 		useGeneratedKeys="true" keyProperty="id">
 		
 		insert into child(name) values (#{name})
 		
 	</insert>
 	
 	
 	<delete id="deleteChild" parameterType="Child">
 	
 		delete from child where id=#{id}
 	
 	</delete>
 	
 	
 	<select id="getAllChild" resultType="Child">
 	
 		select id, name from child order by name
 	
 	</select>
 	
 	<select id="getChildById" resultType="Child" parameterType="int">
 	
 		select id, name from users where id=#{id}
 	
 	</select>
 
  <select id="joinedGetAllChild" resultMap="joinedChildResult">
         select c.id ,c.name , c.timestamp
         g.id as g_id
         from child c
         left join child c on c.gift_id = g.id
         left join gift g on c.id = g.child_id
         order by timestamp
 	</select> 
 
 </mapper>
